.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.section1 {
  grid-row: 1; /* First row */
  grid-column: 1; /* First column of the first row */
  margin-top: 2rem;
  place-content: center;
  padding: 1rem;
}

.section2 {
  grid-row: 2; /* First row */
  grid-column: 1; /* Second column of the first row */
  margin-top: 2rem;
  padding: 1rem;
}
