.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  grid-template-areas:
    "row1"
    "row2"
    "row3"
    "row4"
    "row5"
    "row6"
    "row7";
}

.section1 {
  grid-area: row1;
  margin-top: 2rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 100;
}

.section2 {
  grid-area: row2;
}

.section3 {
  grid-area: row3;
}

.section4 {
  grid-area: row4;
}

.section5 {
  grid-area: row5;
}

.section6 {
  grid-area: row6;
}

.section7 {
  grid-area: row7;
}